@{
    ViewData["Title"] = "generic homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our task - employee service.</h1>
    <h2 class="display-2">Fast. Intuitive. Simple.</h2>
    <img src="https://flow-e.com/wp-content/uploads/bfi_thumb/Google-task-list-379tmv50jkyo35v5zqpoui.png" alt="" />
</div>