@model AddTaskFormModel

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-sm-12">
            <h2 class="heading-margin text-center">Add a Task</h2>
            <span class="text-danger">@Html.ValidationSummary(false)</span>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Enter task title.">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Describe the task."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeeId"></label>
                    <select asp-for="EmployeeId" class="form-control">
                        @foreach (var employee in Model.Employees)
                        {
                            <option value="@employee.Id">@employee.FullName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="DueDate"></label>
                    <input asp-for="DueDate" class="form-control">
                    <span asp-validation-for="DueDate" class="small text-danger"></span>
                </div>

                <input class="btn btn-primary float-right" type="submit" value=" Confirm " />
            </form>
        </div>
    </div>
</div>