@if (Model.Tasks.Count == 0)
{
    <h1 class="display-4">There are no completed tasks in the system.</h1>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Task Title</th>
                <th scope="col">Completed by</th>
                <th scope="col">Completed on</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td scope="col">@task.Title</td>
                    <td scope="col">@task.EmployeeName</td>
                    <td scope="col">@task.CompletedOn</td>
                </tr>
            }
        </tbody>
    </table>
}
